body {
    font-family: sans-serif;
    font-size: 10pt;
    margin:0;
    padding:0;
}


.logo {
    height:10mm!important;
}

table, th, td {
  border: 1px solid #555;
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}
th {
    text-align:left;
    font-weight: bold;
    font-size:10pt;
}
th, td {
    padding:2px;
}

.center {
    text-align:center;
}
.width15 {
    width:15mm;
}
.width5 {
    width:5mm;
}



@page {

	margin: 5%; /* <any of the usual CSS values for margins> */
	             /*(% of page-box width for LR, of height for TB) */
	margin-header: 5mm; /* <any of the usual CSS values for margins> */
	margin-footer: 5mm; /* <any of the usual CSS values for margins> */
}