.order-basket-products {

	.product-image {
		vertical-align: top;
		display: inline-block;

		img {
			width: 100px;
		}
	}

	.product-specs {
		display: inline-block;
	}
}

#delivery_fields {
	margin-bottom: 15px;
}