.template-overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	position: fixed;
	visibility: hidden;
	background: rgba($black, 0.5);
	@include opacity(0);
	@include transition(all 0.3s ease-in-out);

	&.is-visible {
		visibility: visible;
		@include opacity(1);
		@include transition(all 0.3s ease-in-out);
	}
}